
.container{
  margin-top: 5%;
  height: 550px;
  overflow-x: hidden;
}
.main > div{
  margin: 1%;
  padding: 1%;
}

.taskComplete{
    text-decoration: line-through;
    font-weight: bold;
    color: #F16667;
    font-style: italic;
}

input[type=text]{
  background-color: #FEFBF4;
}
.form{
  display: flex;
  align-items: center;
  height: 100px;
}
.form > *{
  margin-left: 1%;
}
.form > input{
  flex: 2;
}

.list-group-item{
  display: flex;
  align-items: center;
}

.list-group-item button{
  margin-left: auto;
}

.list-group-item form{
  display: flex;
  width: 1050px;
  align-items: center;
}

/*For small screens*/
@media all and (max-width: 991px) {

  .form-inline label,
  input,
  button {
    margin: 1%;
  }
  .form-inline input {
    width: 50%;
  }
  .totalTasks {
    display: none;
  }
  .main div {
    width: 70%;
    border: 0px solid black;
  }
  .list-group {
    width: 50%;
  }
  .list-group-item {
    width: 75%;
    padding-left: 0px;
  }
  .checkbox-inline {
    width: 70%;
    margin: 0;
    padding: 0;
    border: 1px solid black;
  }


  .checkbox {
    margin-left: -25px;
  }

  /* .row .col-sm-12 {
    border: 0px solid black;
    width: 250%;
  }*/
  .main div {
    width: 100%;
    border: 0px solid black;
  }

  .form-control.ng-dirty.ng-touched.ng-valid,
  .form-control.ng-pristine.ng-invalid.ng-touched,
  .form-control.ng-untouched.ng-pristine.ng-invalid,
  .form-control.ng-dirty.ng-invalid.ng-touched,
  .form-control.ng-dirty.ng-valid.ng-untouched,
  .form-control.ng-dirty.ng-invalid.ng-untouched
    .form-control.ng-dirty.ng-valid.ng-touched {
    width: 35%;
  }
}
